:root {
  font-family: "Alata", sans-serif;
  font-size: 16px;
  --header: #7eaaa1;
  --sidemenu: #7eaaa1;
  --text1: #ddeae6;
  --text2: #426760;
  --body: #f5f8f7;
  --body2: #426760;
  --btn: #7eaaa1;
  --btn-active: #709890;
  --btn-hover: #6a978f;
}

@font-face {
  font-family: "TitleFont";
  src: url("../src/assets/fonts/TiltNeon-Regular-VariableFont_XROT\,YROT.ttf")
    format("woff2");
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

body {
  display: grid;
  grid-template-rows: repeat(20, 1fr);
  grid-template-columns: repeat(20, 1fr);
  font-family: "TitleFont", sans-serif;
  margin: 0;
  background-color: var(--body);
  height: 100vh;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: 1 / 1 / 4 / 5;
  background-color: var(--header);
}

#page-title {
  text-align: center;
  color: var(--text2);
  font-size: 2.2em;
  font-weight: bold;
  font-style: italic;
  font-family: "TitleFont", sans-serif;
}

#left-menu {
  grid-area: 3 / 1 / 21 / 5;
  background-color: var(--sidemenu);
}

.menu-sct {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0.2em;
}

.menu-title {
  text-align: center;
  font-size: 1.7em;
  width: 9em;
  color: var(--text2);
  border-bottom: 0.15em solid var(--text2);
}

.menu-btn {
  background-color: var(--btn);
  font-size: 1.1em;
  color: var(--text2);
  margin: 0.4em;
  width: 80%;
  height: 100%;
  text-align: left;
  transition: 0.1s ease-in-out;
  border-bottom: 0.1em solid var(--btn-active);
  border-top: 0;
  border-left: 0;
  border-right: 0;
  animation: 0.2s linear fadein;
  padding: 0.3em;
}

.user-menu-btn-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 11em;
  height: 2em;
  transition: 0.1s ease-in-out;
  border-bottom: 0.1em solid var(--btn-active);
  border-top: 0;
  border-left: 0;
  border-right: 0;
  animation: 0.2s linear fadein;
}

.user-menu-btn-box:hover {
  color: var(--text1);
  transform: scale(1.02);
  border-bottom: 0.2em solid var(--text2);
}

.user-menu-btn {
  background-color: var(--btn);
  font-size: 1.1em;
  color: var(--text2);
  margin: 0.4em;
  width: 80%;
  height: 100%;
  text-align: left;
  border: 0;
}

.user-menu-delete-btn {
  background-image: url(../src/assets/icons/icon-recycle-bin.png);
  background-size: contain;
  background-color: transparent;
  border: 0.1em solid var(--text2);
  width: 10%;
  height: 50%;
}

/*.menu-project-btn {
  background-color: var(--btn);
  font-size: 1.1em;
  color: var(--text2);
  margin: 0.4em;
  width: 11em;
  height: 2em;
  text-align: left;
  transition: 0.1s ease-in-out;
  border-bottom: 0.1em solid var(--btn-active);
  border-top: 0;
  border-left: 0;
  border-right: 0;
}*/

.menu-btn:hover {
  color: var(--text1);
  transform: scale(1.02);
  border-bottom: 0.2em solid var(--text2);
}

.menu-add-new-icon {
  width: 10%;
}

#menu-projects {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1em;
}

.active {
  font-size: 1.15em;
  color: var(--text1);
  background-color: var(--btn-active);
  border-radius: 4px;
  border-bottom: 0.2em solid var(--text2);
}

#main {
  display: grid;
  grid-area: 1 / 5 / 21 / 21;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
}

/*UI - when creating new PROJECT**********************************************************************/

#main-create-new-project-card-ui {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  grid-area: 2 / 3 / 7 / 9;
  background-color: var(--body);
  border: 0.2em solid var(--btn);
  border-radius: 8px;
  animation: 0.08s linear fadein;
  z-index: 4;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
}

#main-create-new-project-title {
  color: var(--text2);
  font-size: 2em;
  padding: 2em;
}

#main-create-new-project-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

/*#main-create-new-project-label {
  font-size: 1.3em;
  color: var(--text2);
  padding: 1em;
}*/

#main-create-new-project-input {
  width: 20em;
  height: 1.8em;
  background-color: var(--body);
  border: 0.1em solid var(--btn);
  border-radius: 8px;
  color: var(--text2);
  outline: none;
  transition: 0.1s ease-in-out;
}

#main-create-new-project-input::placeholder {
  color: var(--text2);
}

#main-create-new-project-input:active {
  background-color: var(--text1);
  border-radius: 10px;
}

#main-create-new-project-input:focus {
  background-color: var(--text1);
  border-radius: 10px;
}

#main-create-new-project-submit {
  background-color: var(--body);
  color: var(--text2);
  width: 5em;
  height: 2em;
  border: 0.1em solid var(--text2);
  border-radius: 8px;
  margin: 1em;
  transition: 0.2s ease-in-out;
}

#main-create-new-project-submit:hover {
  background-color: var(--btn-hover);
  color: var(--text1);
}

#main-create-new-project-submit:active {
  background-color: var(--btn-active);
  color: var(--text1);
}

.hidden {
  display: none !important;
}

/*UI - Projects menu - all notes **********************************************************************/

#main-create-new-note-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-area: 1 / 1 / 2 / 15;
}

#main-create-new-note-btn {
  font-size: 1em;
  color: var(--text2);
  background-color: transparent;
  border: 0.1em solid var(--text2);
  border-radius: 8px;
  padding: 0.4em;
  margin: 1em;
  animation: 0.08s linear fadein;
  transition: 0.1s ease-in-out;
}

#main-create-new-note-btn:hover {
  background-color: var(--btn-hover);
  color: var(--text1);
}

/*UI - New note card  **********************************************************************/
#new-note-card-ui {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  grid-area: 2 / 3 / 7 / 9;
  background-color: var(--body);
  border: 0.2em solid var(--btn);
  border-radius: 8px;
  animation: 0.08s linear fade-in-out;
  z-index: 5;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
}

#new-note-card-ui-title {
  color: var(--text2);
  text-align: center;
  font-size: 1.7em;
  margin: 0.5em;
  padding: 0.5em;
  width: 70%;
  border-bottom: 0.1em solid var(--text2);
}

#new-note-card-ui-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/*#main-create-new-project-label {
  font-size: 1.3em;
  color: var(--text2);
  padding: 1em;
}*/

.new-note-card-ui-input {
  width: 25em;
  height: 1.8em;
  background-color: var(--body);
  border: 0.1em solid var(--text2);
  border-radius: 8px;
  color: var(--text2);
  margin: 0.5em;
}

.new-note-card-ui-input::placeholder {
  color: var(--text2);
}

.new-note-card-ui-input:active {
  background-color: var(--btn-active);
  outline: none;
}

.new-note-card-ui-input:focus {
  background-color: var(--btn-active);
  outline: none;
  border: 0.15em solid var(--text2);
}

#new-note-card-ui-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

#new-note-card-ui-important {
  margin: 1em;
}

#new-note-card-ui-add-date {
  margin: 1em;
}

#new-note-card-ui-color {
  margin: 1em;
}

#new-note-card-ui-submit {
  background-color: var(--body);
  color: var(--text2);
  width: 25em;
  height: 2em;
  border: 0.1em solid var(--text2);
  border-radius: 4px;
  margin: 1em;
  transition: 0.2s ease-in-out;
  margin: 0.5em;
}

#new-note-card-ui-submit:hover {
  background-color: var(--btn-hover);
  color: var(--text1);
}

/*Note UI **********************************************************************/
#main-notes-sct {
  grid-area: 2 / 1 / 11 / 11;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.note-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: var(--body);
  width: 90%;
  height: 2em;
  padding: 0.2em;
  margin: 0.3em;
  border: 0.1em solid var(--text2);
  border-radius: 5px;
  transition: 0.2s ease-in-out;
}

.note-card:hover {
  transform: scale(1.01);
}

.note-card > p {
  display: flex;
  justify-content: center;
  align-items: center;
}

.note-card-btn-container {
  background-color: transparent;
  width: 10%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.2em;
}

.note-card-btn {
  height: 70%;
  color: var(--text2);
  background-color: transparent;
  cursor: pointer;
  border: 0.1em solid var(--btn);
  border-radius: 3px;
  outline: none;
  transition: 0.1s ease-in-out;
}

.note-card-btn:hover {
  color: var(--text1);
  background-color: var(--btn-hover);
}

.note-card-title {
  display: flex;
  font-size: 1em;
  color: var(--text2);
  font-weight: bold;
  width: 10%;
  text-align: left;
  padding: 0.5em;
}

.note-card-text {
  font-size: 0.8em;
  color: var(--text2);
  width: 40%;
  text-align: center;
  padding: 0.5em;
}

.note-card-important {
  width: 15%;
  text-align: center;
  padding: 0.5em;
}

.note-card-date {
  width: 15%;
  text-align: center;
  padding: 0.5em;
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 1.5em;
  background-color: var(--header);
  border-top: 0.05em solid var(--body2);
}
.footer-container {
  font-size: 0.8em;
  color: var(--text2);
}

#footer-delete-storage-btn {
  background-color: transparent;
  transition: 0.2s ease-in-out;
  padding: 0.2em;
  border-radius: 4px;
  border: 0;
}
#footer-delete-storage-btn:hover {
  background-color: var(--text2);
  color: var(--text1);
}
